<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="referrer" content="origin" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
	
	<link rel="icon" type="image/png" href="https://36bvmt283fg61unuud3h7qua-wpengine.netdna-ssl.com/wp-content/themes/gadg3t/images/logo_icon_blue_32x32.png">
	<link rel="apple-touch-icon" href="https://36bvmt283fg61unuud3h7qua-wpengine.netdna-ssl.com/wp-content/themes/gadg3t/images/logo_icon_blue_32x32.png">
	<!--[if IE]><link rel="shortcut icon" href="https://36bvmt283fg61unuud3h7qua-wpengine.netdna-ssl.com/wp-content/themes/gadg3t/images/logo_icon_blue_32x32.ico"><![endif]-->
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/wp-content/themes/gadg3t/images/logo_icon_blue_32x32.png">

	<title><%- reactTitle %> | Fly Me to the Moon</title>
	<meta name="description" content="<%- reactDescription %>" />

	<meta name="robots" content="noodp" />
	<link rel="original-source" href="http://wail.es/fly-me-to-the-moon/<%- reactSection %>" />
	<link rel="canonical" href="http://wail.es/fly-me-to-the-moon/<%- reactSection %>" />
	<meta property="og:locale" content="en_GB" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%- reactTitle %>" />
	<meta property="og:description" content="<%- reactDescription %>" />
	<meta property="og:url" content="http://wail.es/fly-me-to-the-moon/" />
	<meta property="og:site_name" content="wail.es" />
	<meta property="article:author" content="https://twitter.com/petewailes" />
	<meta property="og:image" content="http://wail.es/fly-me-to-the-moon/social.png" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="<%- reactDescription %>" />
	<meta name="twitter:title" content="<%- reactTitle %>" />
	<meta name="twitter:domain" content="wail.es" />
	<meta name="twitter:image:src" content="http://wail.es/fly-me-to-the-moon/social.png" />
	<meta name="twitter:creator" content="@petewailes" />

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
		ga('create', 'UA-74850928-1', 'auto');
		ga('send', 'pageview');
	</script>

	<link href="/fly-me-to-the-moon/compiled.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="fmttm"><%- reactOutput %></div>
	<footer id="footer">
		<p>A research and development project by <a href="/">Pete Wailes</a></p>
	</footer>
	<script src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js"></script>
	<script src="/fly-me-to-the-moon/functions.js"></script>
	<script src="/fly-me-to-the-moon/bundle.min.js"></script>
</body>
</html>